h6 {
    margin-top: 9px;
}

h5 {
    margin-top: 16px;
}

.sidebar {
    text-align: center;
    position: fixed;
    padding: 2px;
    width: 70px;
    min-height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 0 5px grey;
}

.sidebar:hover {
    width: 230px;
    transition: width linear 200ms;
    .option-description,
    .user-description {
        display: flex;
        position: absolute;
    }
    .link,
    .user {
        justify-content: flex-start;
    }
}

hr {
    margin: 4px;
    border: 1px solid black;
}

.option-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(0, 85, 255);
}

.user-option-img {
    margin: 3px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(0, 85, 255);
}

.container {
    padding: 0;
}

.option {
    padding: 2px 10px;
}

.option-description,
.user-description {
    display: none;
    left: 70px;
}

.option:hover {
    background-color: rgb(0, 85, 255);
    transition: linear 0.3s;
    .option-img {
        background-color: rgb(238, 238, 238);
        color: black;
    }
    .link {
        color: white;
    }
}

.link,
.user {
    justify-content: center;
    display: flex;
    color: black;
    font-weight: bold;
}